<html>
  <head>
    <title>Schnittstellen</title>
    <link rel="stylesheet" href="../static/style.css"/>
  </head>
  <body>
    Liste der vorhandenen Schnittstellen: <br>
    <a href="/api/bild">erzeugtes Bild anzeigen</a><br>
    <a href="/api/config">Kalibrierung anzeigen</a><br>
    <a href="/api/quadrat">Quadrat aus Config anzeigen</a><br>
    <a href="/api/cable1">Bild mit cable1 anzeigen</a><br>
    <a href="/api/cablegray">Graubild mit Kabel anzeigen</a><br>
    <a href="/api/kreis">Bild mit Kreiserkennung anzeigen</a><br>
  </body>
</html>
