<html>
  <head>
    <title>Schnittstellen</title>
    <link rel="stylesheet" href="../static/style.css"/>
  </head>
  <body>
    Liste der vorhandenen Schnittstellen: <br>
    <a href="/api/live">Livestream der Kamera</a><br>
    <a href="/api/bild">Bild von Kamera erzeugen</a><br>
    <a href="/api/offset">Offsets aus Kreiserkennung generieren</a><br>
    <a href="/api/kreislive">Kreiserkennung als Livestream</a><br>
    <a href="/api/kreisbild">Bild mit Kreiserkennung generieren</a><br>
  </body>
</html>
