<html>
  <head>
    <title>Schnittstellen</title>
    <link rel="stylesheet" href="../static/style.css"/>
  </head>
  <body>
    Liste der vorhandenen Schnittstellen: <br>
    <a href="/api/live">Livestream der Kamera</a><br>
    <a href="/api/bild">Bild von Kamera erzeugen</a><br>
    <a href="/api/config">Kalibrierung anzeigen</a><br>
    <a href="/api/quadrat1">Quadrat1 aus Config anzeigen</a><br>
    <a href="/api/quadrat2">Quadrat2 aus Config anzeigen</a><br>
    <a href="/api/kabel1">Bild mit Kabel1 anzeigen</a><br>
    <a href="/api/kabel2">Bild mit Kabel2 anzeigen</a><br>
    <a href="/api/kreis">Bild mit Kreiserkennung anzeigen</a><br>
  </body>
</html>
